<div class="card animated fadeIn fast" >
  <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
  <div class="card-body">
    <h4 class="card-title">{{heroe.nombre}}</h4>
    <p class="card-text">{{heroe.bio}}</p>
    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>

    <button (click)="verHeroe(heroe.id)" type="button" class="btn btn-outline-primary btn-block">
      Ver más...
    </button>

    <!-- El siguiente link es una manera alternativa para demostrar cómo cambiar de ruta.
         De hecho es más simple que la anterior, ya que no requiere crear un método en el
         componente e importar el módulo router.
    -->
    <!--<a [routerLink]="['/heroe', i]" class="btn btn-primary-outlet">Ver más link...</a>-->

  </div>
</div>
