<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">


  <!-- El hijo se instancia tantas veces como elementos tiene el array de heroes -->

  <!-- Este componente, el padre, recibe un evento del hijo, consistente en el ID para que el padre
  invoque a la función mostrarDetalleHeroe con ese ID -->

  <app-heroe-tarjeta (evtHeroeSeleccionado)="mostrarDetalleHeroe($event)"
                     [heroe]="elHeroe" *ngFor="let elHeroe of heroes">
  </app-heroe-tarjeta>

</div>


